@model IEnumerable<MOSAIK.Models.Tamanho>

@{
    ViewData["Title"] = "Index";
}

<h1>Tamanho</h1>

<p>
    <a asp-action="Create" class="btn btn-segundo">Criar Novo</a>
</p>
<div>
    @using (Html.BeginForm("Index", "Tamanho", FormMethod.Get))
    {
        <p>
            Digite aqui sua pesquisa: @Html.TextBox("pesquisa")
            <input class="btn btn-pesquisa"type="submit" value="Pesquisar" />
        </p>
    }
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeTamanho)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeTamanho)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.TamanhoId" class="btn btn-primary">Editar</a>
                <a asp-action="Details" asp-route-id="@item.TamanhoId" class="btn btn-primary">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.TamanhoId" class="btn btn-primary">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
